body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root,
body,
canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #000000;
}

canvas {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

canvas:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.copy {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 32px;
  color: white;
  text-align: center;
}

.copy > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  pointer-events: none;
  padding-bottom: 16px;
}

.copy svg {
  width: 32px;
  fill: white;
}

a {
  font-style: italic;
  color: #ffbe33;
  font-weight: bold;
  text-decoration: none;
  pointer-events: all;
}

/* .copy span a svg {
  margin-right: 16px;
} */

.info {
  position: absolute;
  top: 0;
  left: 80px;

  padding: 16px;

  color: white;
  font-family: monospace;
}

.info p {
  margin: 0;
}
